*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family:'Be Vietnam Pro',sans-serif;
    background: linear-gradient(to bottom, #F8F3E1, #EDE6C8);padding-top: 80px;
    padding-top: 80px;
}

/* NAVBAR */
.navbar{
position:fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
background:#AEB784;
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 30px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo{
width:60px;
}

.slogan{
font-size:20px;
color: rgba(255,255,255,0.9);
font-weight:bold;
}

.menu-icon{
font-size:28px;
cursor:pointer;
color:white;
}

.menu{
list-style:none;
position:absolute;
top:80px;
right:30px;
background:white;
width:220px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.15);
display:none;
flex-direction:column;
overflow:hidden;
padding:0;
}

.menu li{
border-bottom:1px solid #eee;
}

.menu li:last-child{
border-bottom:none;
}

.menu li a{
display:block;
padding:15px;
text-decoration:none;
color:#473f34;
font-weight:bold;
}

.menu li a:hover{
background:#f0e5c7;
}

.menu.show{
display:flex;
}

.menu-btn {
  font-size: 28px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1001;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px;   
  width: 300px;
  height: 100%;
  background: #84B179;
  transition: 0.3s;
}

.sidebar a {
  display: block;
  margin: 20px 0;
  font-size: 18px;
  text-decoration: none;
  color: #2F2F1E;
  padding-left: 20px;
}

.sidebar a:hover {
  color: #E07A5F;
  padding-left: 5px;
  transition: 0.2s;
  background:#E3DBBB;
  border-radius: 8px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: none;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 100px 20px 40px;
  max-width: 900px;
  margin: auto;
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
  color: #7a8a4f;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  line-height: 1.6;
  color: #2f3e24;
}

input{display:none;}

.container{
    display:flex;
    gap:20px;
    justify-content:center;
    margin-top: 40px;
}

/* CARD */
.card{
    position:relative;
    height:400px;
    width:100px;
    border-radius:30px;
    overflow:hidden;
    cursor:pointer;
    perspective:1000px;
    background-color:#ffffff;
    background-position:center -10px;
    background-repeat:no-repeat;
    background-size:120px;
transform: translateZ(0);
will-change: transform, width, background-size;
    transition:
        width 0.6s cubic-bezier(.28,-0.03,0,.99),
        background-size 0.6s ease,
        box-shadow 0.4s;
        
    box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

/* Background từng card */
.card1{ background-image:url('image/1.png'); }
.card2{ background-image:url('image/2.png'); }
.card3{ background-image:url('image/3.png'); }
.card4{ background-image:url('image/4.png'); }
.card5{ background-image:url('image/5.png'); }

/* ACTIVE */
#s1:checked ~ .container .card1,
#s2:checked ~ .container .card2,
#s3:checked ~ .container .card3,
#s4:checked ~ .container .card4,
#s5:checked ~ .container .card5{
    width:600px;
    background-size:280px;
}

/* FLIP */
.flip{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition:0.45s;
}

.card.flipped .flip{
    transform:rotateY(180deg);
}

.front,.back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding:30px;
}

/* FRONT */
.front{
    background:transparent;
    color:#5E6650;
    }

/* BACK */
.back{
background:white;
transform:rotateY(180deg);
color:#5E6650;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
text-align:left;
padding: 25px 30px;
}
.back h3{
    letter-spacing: 0.5px;
font-size:30px;
margin-bottom:20px;
color:#7a8a4f;
}

/* Ẩn text khi chưa active */
.front h2{
    display:none;
    margin-bottom: 50px;
    text-align: center;
}


#s1:checked ~ .container .card1 .front h2,
#s1:checked ~ .container .card1 .front p,
#s2:checked ~ .container .card2 .front h2,
#s2:checked ~ .container .card2 .front p,
#s3:checked ~ .container .card3 .front h2,
#s3:checked ~ .container .card3 .front p,
#s4:checked ~ .container .card4 .front h2,
#s4:checked ~ .container .card4 .front p,
#s5:checked ~ .container .card5 .front h2,
#s5:checked ~ .container .card5 .front p{
        display: block;
}

/* BULLET */
.number{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    width:50px;
    height:50px;
    border-radius:50%;
    background:#F4A9A8;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    z-index:10;
}

.profile-list{
list-style:none;
padding-left:0;
margin-top:20px;
column-count:2;
column-gap:30px;
padding-left:35px;
background: #fff0f0;
padding:20px 20px 20px 35px;
border-radius:15px;
}

.profile-box{
background:#F4A9A8;
border-radius:18px;
padding:20px 30px;
margin-top:15px;
margin-bottom: 5px;
}

.profile-list li{
display:flex;
align-items:center;
margin-bottom:10px;
gap:10px;
font-size:18px;
line-height: 1.5;
transition: 0.25s;
}

.profile-list li:hover{
    color: #7a8a4f;
    transform: translateX(5px);
}

.profile-list li::before{
content:"♻";
color:#7a8a4f;
font-size: 18px;
}
.detail-btn{
display:inline-block;
margin-top: 25px;
padding:12px 26px;
background:#F4A9A8;
color:white;
text-decoration:none;
border-radius:25px;
font-size:16px;
transition:0.25s;
}

.detail-btn:hover{
background:#E07A5F;
transform:translateY(-2px);
}

/* DƯỚI CARD */
.why-box,.xuphat-box,.monitor-box{
  display:flex;
  flex-direction: column;
  align-items:center;
  gap:20px;
  max-width:1000px;
  margin:80px auto;
  padding:20px;
  text-align: left;
}
.why-text h1, .xuphat-text h1, .monitor-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #4F5F2C;
}

.why-text p, .xuphat-text p, .monitor-text p {
  color: #2f3e24;
  margin-bottom: 10px;
  line-height: 1.7;
  font-size: 18px;
}

.why-text ul, .xuphat-text ul, .monitor-text ul {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #2f3e24;
}

.why-text li, .xuphat-text li, .monitor-text li {
  margin-bottom: 8px;
  font-size: 18px;
  color: #2f3e24;
}

.why-img, .xuphat-img, .monitor-img {
  flex: 1;
  min-width: 400px;
}

.why-img img, .xuphat-img img{
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  max-width: 800px;
  height: auto;
}

.why-img .suoc, .xuphat-img .suoc, .monitor-img .suoc {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}


/* Responsive cho mobile */
@media (max-width:768px){
  .why-box, .xuphat-box, .monitor-box{
    flex-direction:column;
    text-align:center;
  }

  .why-img img, .xuphat-img img, .monitor-img img{
    width:70%;
    max-width: 300px;
    margin: 0 auto;
  }
}
.meaning{
margin-top:10px;
font-style:italic;
color:#555;
}
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
.site-footer {
  width: 100%;
  background: #AEB784;; 
  color: white;
  padding: 25px 30px;   
  box-sizing: border-box;
  margin-top: 60px;
}
.site-footer h3 {
  color: #7a8a4f;
  margin-bottom: 15px;
}
.footer-logo {
  display: block;
  margin: 20px auto 0; 
  width: 80px;         
  height: auto;
}
.footer-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;   
  padding: 0 30px;  
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col a {
  color: #FFF8D1;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: #E07A5F;
  text-decoration: underline;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #F8F3E1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-grid {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }

  .footer-col {
    margin-bottom: 30px;
  }
}